@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Rubik';
    background-color: rgb(248, 248, 248);
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 3.5fr 1fr;
    background-image: url(/img/image\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}
header{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    background-color: #fff;
    height: 145px;
    align-items: center;
    padding: 0 120px;
    
}
header .logo_hd{
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}
header .logo_hd .lg{
    margin-left: 25px;
}
header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 10%;
    list-style: none;
    text-align: center;
    align-items: center;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
/* main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
} */
.info_block{
    width: 600px;
    height: 327px;
    margin-top: 5%;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #ffb92196;
    color: #fff;
    padding: 29px 27px;
    border-radius: 30px;
    justify-content: start;
}
.info_block h1{
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: -10px;
}
.info_block p{
    font-size: large;
}
.block_btn{
    margin-top: 5%;
    display: flex;
    margin-left: 120px;
    font-size: 24px;
    font-weight: 500;
}
.block_btn a{
    width: 251px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 26px 25px;
    text-align: center;
    font-weight: 400;
}
.block_btn a:nth-child(1){
    margin-right: 100px;
    background-color: #ffb92198;
    border: none;
    color: #fff;
}
.modul_wind{
    display: none;
}
.block_btn a:nth-child(2){
    background-color: #fffdf58c;
}
.gr{
    width: 670px;
}
.graphix_block{
    display: flex;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-left: 10%;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 120px;
}
.graphix_block .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 135px;
    color: #fff;
    font-size: 14px;

}
.graphix_block .item p{
    margin-top: 21px;
}
.graphix_block .item:nth-child(2){
    text-align: center;
}
.scroll_bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 120px;
    
}
.scroll_bar .item1{
    padding: 9px;
    border-radius: 100%;
    background-color: #fff;
}
.scroll_bar .item1:nth-child(2n){
    margin-left: 10px;
    margin-right: 10px;
}
input{
    display: none;
}
#lable_scr:checked + .item1{
    background-color: #FBBC33;
}
#lable_scr2:checked + .item1{
    background-color: #FBBC33;
}
#lable_scr3:checked + .item1{
    background-color: #FBBC33;
}
#lable_scr4:checked + .item1{
    background-color: #FBBC33;
}
#lable_scr5:checked + .item1{
    background-color: #FBBC33;
}
@media screen and (min-width: 2000px) {
    h1{
        font-size: xx-large;
    }
    h2{
        font-size: medium;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
        width: 1920px;
        margin: auto;
        font-size: 30px;
    }
}
@media screen and (max-width: 850px) {
    .menu_nav label{
        position: relative;
        z-index: 2;
    }
    .modul_wind{

        width: 20%;
        height: 100px;
        background-color: aqua;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 1;
        z-index: 0;
    }
    #check_modul:checked + .modul_wind{
        color: black;
        opacity: 1;
        z-index: 1;
    }
    .info_block{
        width: 70%;
        margin: auto;
        margin-top: 9%;
        background-color: #ffb92196;
        color: #fff;
        padding: 29px 27px;
        border-radius: 30px;
        justify-content: start;
    }
    header{
        display: grid;
        grid-template-columns: 2fr 1fr 0;
        grid-gap: 0 5%;
        align-items: center;
        background-color: #fff;
        height: 145px;
        align-items: center;
        padding: 0 10%; 
    }
    .menu_nav label{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px 0;
    }
    .menu_nav label div{
        margin-left: 70%;
        width: 50px;
        height: 10px;
        background-color: rgb(189, 189, 189);
    }
    header .logo_hd{
        display: grid;
        align-items: center;
        margin: auto;
    }
    header ul{
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
        align-items: center;
        color: black;
    }
    .block_btn{
        width: 70%;
        margin: auto;
        margin-top: 8%;
    }
    .block_btn a{
        width: 50%;
        border-radius: 20px;
        border: 1px solid black;
        padding: 26px 25px;
        text-align: center;
        font-size: medium;
    }
    .block_btn a:nth-child(1){
        margin-right: 2%;
        background-color: #ffb92198;
    }
}
input{
    display: none;
}